
.color-example {
    color: rgb(122, 4, 85); 
    background-color: #f4cc3d; 
    border: 2px solid rgb(139, 0, 0); 
}


.header-example {
    font-size: 36px;
    font-family: 'Arial', sans-serif;
    color: rgb(18, 24, 18);
}


.list-example {
    list-style-type: square; 
    color: darkred;
}


.text-example {
    font-family: 'Georgia', serif;
    font-size: 20px;
    text-transform: capitalize;
    text-decoration: underline;
}


.div-example {
    background-color: #d3d3d3;
    border: 3px dashed gray;
    padding: 10px;
}
